@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&display=swap');

* {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

/* header */
header {
  width: 100%;

  background-image: url('../images/banner/banner2.png');
  background-repeat: no-repeat;
}

.banner {
  display: flex;
  /* justify-content: flex-end; */
  /* align-items: center; */
  text-align: right;
  justify-content: center;
  align-items: center;
  padding: 250px 0;
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
  margin-bottom: 24px;
}

.banner-desc {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 32px;
}

.btn-primary {
  /* width: 160px; */
  height: 64px;
  background-color: #fd940a;
  font-weight: 600;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  padding: 20px 25px;
}

/* failure section */
.failure-section {
  display: flex;
  align-items: center;
  gap: 90px;
  margin: 150px 200px;
}

.failure-title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 24px;
}

.failure-desc {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 16px;
  text-align: center;
}
.failure-content li {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
}
.failure-list-item {
  list-style: none;
}

.failure-list-item li i {
  color: #16d887;
}

/* my plan */
.my-plan {
  margin: 150px 200px;
  text-align: center;
}
.plan-container {
  display: flex;
  justify-content: space-around;
}
.plan-container img {
  margin-bottom: 30px;
}
.my-plan-title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 50px;
}
.plan-title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 16px;
}
.plan-desc {
  font-weight: 500;
  font-size: 25px;
}
