@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&display=swap');

* {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

/* header */
header {
  background-image: url('../images/banner/banner2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner {
  display: flex;
  /* justify-content: flex-end; */
  /* align-items: center; */
  text-align: right;
  justify-content: center;
  align-items: center;
  padding: 250px 0;
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
  margin-bottom: 24px;
}

.banner-desc {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 32px;
}

.btn-primary {
  /* width: 160px; */
  height: 64px;
  background-color: #fd940a;
  font-weight: 600;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  padding: 20px 25px;
}

/* failure section */
.failure-section {
  display: flex;
  align-items: center;
  gap: 90px;
  margin: 150px 200px;
}

.failure-title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 24px;
}

.failure-desc {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 16px;
  text-align: center;
}
.failure-content li {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
}
.failure-list-item {
  list-style: none;
}

.failure-list-item li i {
  color: #16d887;
}

/* my plan */
.my-plan {
  margin: 150px 200px;
  text-align: center;
}
.plan-container {
  display: flex;
  justify-content: space-around;
}
.plan-container img {
  margin-bottom: 30px;
}
.my-plan-title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 50px;
}
.plan-title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 16px;
}
.plan-desc {
  font-weight: 500;
  font-size: 25px;
}

/* section-gradient */
.section-gradient {
  margin: 150px 200px;
}

.image-gradient {
  width: 100%;
  height: 24vh;
  background-image: linear-gradient(
      to right,
      rgb(245, 105, 5),
      rgba(255, 255, 255, 0)
    ),
    url('../images/watch.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.gradient-title {
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  padding: 10px 25px;
}

.btn-secondary {
  background-color: #fff;
  color: #fd940a;
  margin-left: 25px;
}

/* future style */
.future {
  background-color: black;
}
.future-container {
  display: flex;
  margin: 0 200px;
  padding: 130px 0;
}

.future-title {
  font-weight: 700;
  font-size: 45px;
  color: #f8f8f8;
  margin-bottom: 16px;
}
.future-desc,
.future-email,
.future-phone {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  text-align: left;
}
.future-email {
  margin-top: 25px;
}

.future-phone {
  margin: 16px 0;
}

.future-content a img {
  margin-left: 10px;
}

.subscribe-title {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 30px;
  color: #fff;
}

.subscribe input {
  background-color: black;
  outline: none;
  border: 1px solid #fff;
  padding: 10px 12px;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 20px;
}

.btn-sub {
  font-weight: 600;
  font-size: 20px;
  color: #fd940a;
  padding: 15px 25px;
  border: 0;
  border-radius: 5px;
}
